<div *ngIf="hero">

  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>ID: </span>{{hero.id}}</div>
  <div>
    <label>Name:
      <input [(ngModel)]="hero.name" placeholder="Hero's name"/>
    </label>
  </div>
  <div>
    <label>Skill:
      <input [(ngModel)]="hero.skill" placeholder="Hero's skills"/>
    </label>
  </div>
  <div>
    <label>Description:
      <input [(ngModel)]="hero.description" placeholder="Hero's description"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
</div>